{#C:\PyCharmProjects\agrosmart ЗОНА 3\Зона 3\app\templates\base.html#}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }} - AGRO SMART</title>
    <meta name="description" content="AGRO SMART - управление мини-фермой">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
    {% block styles %}{% endblock %}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <!-- jQuery для DataTables -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Главная</a></li>
            <li><a href="{{ url_for('main.scenarios') }}">Сценарии</a></li>
            <!--<li><a href="{{ url_for('main.plantings') }}">Контроль посадки</a></li>
            <li><a href="{{ url_for('main.cultures') }}">Справочник</a></li>-->
            <li><a href="{{ url_for('main.mixing_parameters') }}">Растворный узел</a></li>
{#            <li><a href="{{ url_for('main.light_control') }}">Освещение</a></li>#}
            <li><a href="{{ url_for('main.logout') }}">мини Офис - Выйти</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
